 extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
block main
    +alert-success(2000)
    +alert-error(2000)

    .container.my-3 
        .row 
            .col-12 
                +box-head("Đặt Hàng thành công")
